.application
  display: flex
  flex-wrap: wrap
  height: 100vh
  -webkit-backface-visibility: hidden

  main,
  .content
    display: flex
    flex: 1 1 auto
    flex-direction: column

  .content
    overflow-y: auto

// Main theme
.application
  &--light
    application($material-light)

  &--dark
    application($material-dark)

  .theme--light
    text($material-light, $material-dark)

  .theme--dark
    text($material-dark, $material-light)